.RollDice{
    flex-flow: column nowrap;
    min-height:40vh;
}

.RollDice-container {
    display:flex;
    justify-content:center;
    align-content:center;
}

.RollDice button{
    width: 15em;
    padding: 1.5em;
    border:0px;
    border-radius: 10px;
    color: white;
    background-color: black;
    margin-top: 3em;
    align-items: center;
}

.RollDice button:hover{
    background-color:darkslateblue;
    cursor: pointer;
}